@model HotelInfo
@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">@Model.Name</h4>
                      <p class="card-description">
                      </p>
                      <p>
                        @Html.Raw(Model.Description)
                      </p>
                    </div>
                    <form method="post" asp-controller="Hotel" asp-action="Delete">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                  </div>
                </div>
</div>

